body {
  font-family: helvetica, sans-serif;
  background-color: #F8F8F8	;
  font-size: 1em;
}

h1 {
  color: #66c2a5;
}

#top {
  margin: auto;
}

.container {
  margin: auto;
}


#mapContainer {
  float: left;
}

#pieChartContainer {
  float:left;
}

#lineChartContainer {

  float: left;
}


.linep0p10 {
    fill: none;
    stroke: #a6cee3;
    stroke-width: 3;
}

.linep10p20 {
    fill: none;
    stroke: #1f78b4;
    stroke-width: 3;
}

.linep20p30 {
    fill: none;
    stroke: #b2df8a;
    stroke-width: 3;
}

.linep30p40 {
    fill: none;
    stroke: #33a02c;
    stroke-width: 3;
}

.linep40p50 {
    fill: none;
    stroke: #fb9a99;
    stroke-width: 3;
}

.linep50p60 {
    fill: none;
    stroke: #e31a1c;
    stroke-width: 3;
}

.linep60p70 {
    fill: none;
    stroke: #fdbf6f;
    stroke-width: 3;
}

.linep70p80 {
    fill: none;
    stroke: #ff7f00;
    stroke-width: 3;
}

.linep80p90 {
    fill: none;
    stroke: #cab2d6;
    stroke-width: 3;
}

.linep90p100 {
    fill: none;
    stroke: #6a3d9a;
    stroke-width: 3;
}



.TotalLegend {
    fill: #66c2a5;
}

.FemalesLegend {
    fill: #fc8d62;
}

.MalesLegend {
    fill: #8da0cb;
}

#tooltip {
  min-width: 100px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  font-size: .8em;
}

.legendText {
  font-size: .8em;
}



svg {
  margin:auto;
  display:inherit;
}





text {
  font: 10px sans-serif;
}
form {
  position: absolute;
  right: 10px;
  top: 10px;
}
