html {
  scroll-behavior: smooth;
}


body {
  font-family: helvetica, sans-serif;
  background-color: #F8F8F8	;
  font-size: .8em;
  min-width: 1064px;
  width: auto;
}

.container {
  min-width: 1064px;
  width: auto;
}

.row {
  min-width: 1032px;
  width: auto;
  margin: 16px;

  border-style: solid;
  border-width: 4px;
  border-radius: 2px;
  border-color: #A9A9A9;
}

/* div[class*="col"] {
  background: #e2deed;
} */

#lorenz .line {
    fill: none;
    stroke: #f0027f;
    stroke-width: 3;
}

.row {

}

h1 {
  color: #66c2a5;
}


svg {
  display: block;
  margin: auto;
}

.datamap {
  margin: auto;
  display: block;
}


#mapContainer {
  margin:auto;
}

.linep0p10 {
    fill: none;
    stroke: #a6cee3;
    stroke-width: 3;
}

.linep10p20 {
    fill: none;
    stroke: #1f78b4;
    stroke-width: 3;
}

.linep20p30 {
    fill: none;
    stroke: #b2df8a;
    stroke-width: 3;
}

.linep30p40 {
    fill: none;
    stroke: #33a02c;
    stroke-width: 3;
}

.linep40p50 {
    fill: none;
    stroke: #fb9a99;
    stroke-width: 3;
}

.linep50p60 {
    fill: none;
    stroke: #e31a1c;
    stroke-width: 3;
}

.linep60p70 {
    fill: none;
    stroke: #fdbf6f;
    stroke-width: 3;
}

.linep70p80 {
    fill: none;
    stroke: #ff7f00;
    stroke-width: 3;
}

.linep80p90 {
    fill: none;
    stroke: #cab2d6;
    stroke-width: 3;
}

.linep90p100 {
    fill: none;
    stroke: #6a3d9a;
    stroke-width: 3;
}



.TotalLegend {
    fill: #66c2a5;
}

.FemalesLegend {
    fill: #fc8d62;
}

.MalesLegend {
    fill: #8da0cb;
}



.legendText {
    font-size: .8em;
}




.title {
  font: 12px sans-serif;
}



text {
  font: 10px sans-serif;
}
form {
  position: absolute;
  right: 10px;
  top: 10px;
}




.pieTip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}







.datamaps-hoverover {
  display: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}



/* The next 2 are copied from the datamaps tooltip for uniformity. */
#tooltip {
  position: absolute;
  visibility: hidden;
  z-index: 10001;
  padding: 4px; border-radius: 1px;
  background-color: #FFF;
  box-shadow: 1px 1px 5px #CCC;
  font-size: 12px;
  border: 1px solid #CCC;
}

#tooltip hr {
  border:1px dotted #CCC;
}
